##########################################################################
# MARY TTS configuration file pl.config
##########################################################################

name = pl

locale = pl

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.modules.MinimalisticPosTagger(pl,pl.) \


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
pl.allophoneset = jar:/marytts/language/pl/lexicon/allophones.pl.xml
pl.lexicon = jar:/marytts/language/pl/lexicon/pl_lexicon.fst
pl.lettertosound = jar:/marytts/language/pl/lexicon/pl.lts
#pl.userdict = MARY_BASE/user-dictionaries/userdict-pl.txt

# Minimalistic POS tagger settings
pl.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.language.pl.PolishPhonemiser \
	marytts.features.FeatureProcessorManager(pl)
